.header {
  background-color: rgba(175, 155, 116, 1);
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
  color: #fff;
  &__ourcoffee {
    background-image: url("./bg-2.jpg");
    h1 {
      text-align: center;
      margin-bottom: 54px;
    }
  }
  &__pleasure {
    background-image: url("./bg-3.jpg");
    h1 {
      text-align: center;
      margin-bottom: 54px;
    }
  }
  &__menu {
    display: flex;
    align-items: baseline;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  &__menu-logo {
    display: flex;
    align-items: baseline;
    color: #fff;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
    }
  }
  &__menu-nav {
    ul {
      display: flex;
    }
  }
  &__menu-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 40px;
    }

    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: rgb(204, 204, 204);
        height: 2px;
        color: #fff;
        width: 0;
        transition: all 0.2s ease-in-out;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover {
        color: rgb(204, 204, 204);
      }
    }
  }
  // .header__content
  &__content {
    max-width: 800px;
    margin: 110px auto 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      margin-bottom: 20px;
    }
  }
  // .header__content-title
  &__content-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }
  // .header__content-decoration
  &__content-decoration {
    position: relative;
    margin-bottom: 35px;
    &::before {
      content: "";
      position: absolute;
      right: 60px;
      top: 40%;
      width: 60px;
      height: 1px;
      background-color: #fff;
      border: 1px solid #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    &::after {
      content: "";
      position: absolute;
      left: 60px;
      top: 40%;
      width: 60px;
      height: 1px;
      background-color: #fff;
      border: 1px solid #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
  // .header__content-text
  &__content-text-with-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  // .header__content-link
  &__content-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 10px 42px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateY(-3px);
    }
  }
}

.about {
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  padding: 80px 0 100px;
  // .about__title
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 20px;
  }
  // .about__decoration
  &__decoration {
    position: relative;
    margin-bottom: 40px;
    &::before {
      content: "";
      position: absolute;
      right: 60px;
      top: 40%;
      width: 60px;
      height: 1px;
      background-color: #000;
      border: 1px solid #000;
    }
    &::after {
      content: "";
      position: absolute;
      left: 60px;
      top: 40%;
      width: 60px;
      height: 1px;
      background-color: #000;
      border: 1px solid #000;
    }
  }
  // .about__text
  &__text {
    max-width: 589px;
    text-align: center;
    p {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
.best {
  background-color: rgba(240, 223, 205, 1);
  background-image: url("bg-best.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  &__inner {
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 80px 0 110px;
  }
  // .best__title
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
  }
  // .best__cards
  &__cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  // .best__card
  &__card {
    width: 220px;
    height: 240px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    padding: 22px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(-3px);
    }
  }
  // .best__card-image
  &__card-image {
    margin-bottom: 15px;
    max-height: 130px;
    height: 100%;
  }
  // .best__card-description
  &__card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  // .best__card-price
  &__card-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-self: end;
  }
}
.footer {
  // .footer__menu
  padding: 30px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  &__menu {
    display: flex;
  }
  // .footer__menu-logo
  &__menu-logo {
    display: flex;
    align-items: baseline;
    color: #000;
    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
    }
  }
  &__menu-nav {
    ul {
      display: flex;
    }
  }
  &__menu-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 40px;
    }
    a {
      color: #000;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
    }
  }
  // .footer__decoration
  &__decoration {
    position: relative;
    margin-bottom: 40px;
    &::before {
      content: "";
      position: absolute;
      right: 60px;
      top: 40%;
      width: 60px;
      height: 1px;
      border: 1px solid #000;
    }
    &::after {
      content: "";
      position: absolute;
      left: 60px;
      top: 40%;
      width: 60px;
      height: 1px;
      border: 1px solid #000;
    }
  }
}

.about__beans {
  display: flex;
  margin-top: 70px;
  &-image {
    width: 272px;
    height: 355px;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    margin-right: 80px;
    img {
      height: 100%;
    }
  }
  .about {
    padding-top: 0;
    max-width: 346px;
    &__decoration {
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
.ourcoffee__container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourcoffee__decoration {
  width: 240px;
  height: 1px;
  background-color: #000;
  border: 1px solid #000000;
  margin-bottom: 60px;
}

.ourcoffee {
  // .ourcoffee__items
  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  // .ourcoffee__items-filters
  &__items-filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 61px;
  }
  // .ourcoffee__items-search
  &__items-search {
    display: flex;
    align-items: center;
    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-right: 19px;
    }
    input {
      width: 180px;
      height: 30px;
      background: #ffffff;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
      border: none;
      border-radius: 4px;
      &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  // .ourcoffee__items-buttons
  &__items-buttons {
    display: flex;
    align-items: center;
  }
  // .ourcoffee__items-buttons-text
  &__items-buttons-text {
    margin-right: 35px;
    font-size: 14px;
  }
  // .ourcoffee__items-button
  &__items-button {
    width: 75px;
    height: 30px;
    background: #ffffff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    transition: all ease .3s;
    &:hover {
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
    }
    &.active {
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
    }
    &:nth-child(2) {
      background: #ffffff;
      border-radius: 4px 0px 0px 4px;
    }
    &:last-child {
      background: #ffffff;
      border-radius: 0px 4px 4px 0px;
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  // .ourcoffee__items-inner
  &__items-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .ourcoffee__item
  &__item {
    width: 220px;
    background-color: #fff;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 37px 23px 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    cursor: pointer;
    transition: transform ease .3s;
    &:hover {
      transform: translateY(-5px);
    }
  }
  // .ourcoffee__item-card-image
  &__item-card-image {
    margin-bottom: 10px;
    max-height: 130px;
    height: 100%;
  }
  // .ourcoffee__item-card-description
  &__item-card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
  }
  // .ourcoffee__item-card-country
  &__item-card-country {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    align-self: flex-end;
    color: #000000;
    margin-bottom: 10px;
  }
  // .ourcoffee__item-card-price
  &__item-card-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    align-self: flex-end;
    color: #000000;
    margin-bottom: 12px;
  }
}
